.MainPage {
    position: relative;
}

.Content {
    display: flex;
    align-items: center;
    color: #373D3F;
}

.Title {
    margin: 0px 88px 180px 139px;
}

.Divider {
    margin-left: 139px;
    margin-bottom: 35px;
    width: 60%;
    color: #86868B;
}

.Text {
    margin-left: 139px;
    margin-bottom: 35px;
}

.MainPageIcon {

}

.StartNowText {

}

.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.FooterText {
    color: #86868B;
}