$text-primary: #373D3F;
$text-secondary: #86868B;

.MainPage {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Content {
    flex: 1;
    color: $text-primary;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextView {
    margin-left: 90px;
    margin-right: 90px;
}

.Title {
    margin-bottom: 100px;
}

.Divider {
    margin-bottom: 35px;
    color: $text-secondary;
}

.Text {
    margin-bottom: 35px;
}

.Button {
    float: left;
    margin-bottom: 35px;
    border-radius: 45px;
    padding: 12px 32px;
}

.MainPageIcon {
    display: flex;
    align-items: center;
    margin-right: 90px;
}

.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.FooterText {
    color: $text-secondary;
}