$text-primary: #373D3F;
$text-secondary: #86868B;

.MainPage {
    position: relative;
}

.Content {
    display: flex;
    align-items: center;
    color: $text-primary;
}

.Title {
    margin: 0px 88px 180px 139px;
}

.Divider {
    margin-left: 139px;
    margin-bottom: 35px;
    width: 60%;
    color: $text-secondary;
}

.Text {
    margin-left: 139px;
    margin-bottom: 35px;
}

.Button {
    float: left;
    margin-left: 139px;
    margin-bottom: 35px;
}

.MainPageIcon {
}

.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.FooterText {
    color: $text-secondary;
}