$main-color: #373D3F;

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(55, 61, 63, 0.2);
}

.NavPanel {
    display: flex;
    align-items: center;
}

.Button {
    border-radius: 45px;
    padding: 12px 32px;
}

.HomeText, 
.BlogText, 
.CorcesText,
.LogoIcon {
    margin: 24px 0px 24px 88px;
    color: $main-color;
}

.LogInText {
    color: $main-color;
}

.UserInfo {
    margin-right: 88px;
}